*{box-sizing: border-box;}
body{
    margin: 0;
    padding: 0;
    background-color: black;
}

nav ul li {
    text-decoration: none;
    text-align: center;

}
h1{
    color: white;
    text-align: left;
}
a{
    color: transparent;
    padding: 10px;
    text-decoration: none;
    text-align: end;
}
.id{
    border:white;
    text-decoration: underline 3px white;
    margin: 5px;
}
button{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  
}